{% extends "base.html" %}{% load i18n crispy_forms_tags staticfiles%}
{% block header_settings %}
<style>
    #content {
        padding-top: 150px;
    }
</style>
{% endblock %}
{% block content %}
    <div id="content">
        <div id="panel">
            <h1>Профиль</h1>
            <p>{% if object.username == user.username %}<a href="{% url 'edit_profile' user.pk %}">Изменить</a>{% endif %}</p>
            <p><b>Имя пользователя:</b> {{ user }}</p>
            <p><b>Фамилия:</b> {{ user.first_name }}</p>
            <p><b>Имя:</b> {{ user.last_name }}</p>
            <p><b>Отчество:</b> {{ user.patronymic }}</p>
            <p><b>Email:</b> {{ user.email }}</p>
            <p><b>Дата рождения:</b> {{ user.birthday }}</p>
            <p><b>Кафедра:</b> {{ user.deparmt }}</p>
            <p><b>Должность:</b> {{ user.get_position_display }}</p>
            <p><b>Ученая степень:</b> {{ user.get_science_stepen_display }}</p>
            <p><b>Ученое звание:</b> {{ user.get_science_zvanie_display }}</p>
            <p><b>Настройки:</b> {{ user.sets }}</p>
        </div>
    </div>
{% endblock %}