{% extends "base.html" %}{% load i18n crispy_forms_tags staticfiles%}
{% block header_settings %}
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <style>
        #content {
            padding-top: 220px;
        }
        #panel {columns: 3 20em}
    </style>
{% endblock %}
{% block content %}
    <script>
        window.onload = function() {
            var dataPoints = [];

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                //theme: "dark2", // "light1", "light2", "dark1", "dark2"
                backgroundColor: "#79C2D1",
                title: {
                    text: "Публикации"
                },
                axisY: {
                    title: "Количество, шт",
                    suffix: "",
                    includeZero: false
                },
                axisX: {
                    title: "Год",
                    valueFormatString: "####"
                },
                data: [{
                    type: "column",
                    xValueFormatString: "####",
                    yValueFormatString: "####",
                    dataPoints: dataPoints
                }]
            });

            function addData(data) {
                for (var i = 0; i < data.length; i++) {
                    dataPoints.push({
                        x: data[i].year,
                        y: data[i].count
                    });
                }
                chart.render();
            }
            $.getJSON("../../pubs/get/", addData);
        }
    </script>
    <div id="content">
        <h1>Профиль</h1>
        <div id="panel">
            <p>{% if object.username == user.username %}<a href="{% url 'edit_profile' user.pk %}">Изменить</a>{% endif %}</p>
            <p><b>Имя пользователя:</b> {{ user }}</p>
            <p><b>Фамилия:</b> {{ user.first_name }}</p>
            <p><b>Имя:</b> {{ user.last_name }}</p>
            <p><b>Отчество:</b> {{ user.patronymic }}</p>
            <p><b>Email:</b> {{ user.email }}</p>
            <p><b>Дата рождения:</b> {{ user.birthday }}</p>
            <p><b>Кафедра:</b> {{ user.deparmt }}</p>
            <p><b>Должность:</b> {{ user.get_position_display }}</p>
            <p><b>Ученая степень:</b> {{ user.get_science_stepen_display }}</p>
            <p><b>Ученое звание:</b> {{ user.get_science_zvanie_display }}</p>
            <p><b>Настройки:</b> {{ user.sets }}</p>
            <p><b>Scopus ID:</b> {{ user.scopus_id }}</p>
            <p><b>Elibrary ID:</b> {{ user.elibrary_id }}</p>
        </div>
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    </div>
{% endblock %}