@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");
@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css");
@import url("menu.css");

html {
	min-height: 480px;
	height: 100%;
}

body{
  	font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
	font-size: 14px;
	font-style: normal;
	color:#474d59;
	background-image: -ms-linear-gradient(bottom, #B99BB7 0%, #D2CEEF 50%, #79C2D1 100%);
	background-image: -moz-linear-gradient(bottom, #B99BB7 0%, #D2CEEF 50%, #79C2D1 100%);
	background-image: -o-linear-gradient(bottom, #B99BB7 0%, #D2CEEF 50%, #79C2D1 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #B99BB7), color-stop(50, #D2CEEF), color-stop(100, #79C2D1));
	background-image: -webkit-linear-gradient(bottom, #B99BB7 10%, #D2CEEF 50%, #79C2D1 100%);
	background-image: linear-gradient(to top, #B99BB7 0%, #D2CEEF 50%, #79C2D1 100%);

}

.content{
	position: absolute;
	left: 50%;
	top: 10%;
	margin-top: 25px;
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer .footer-copyright{
	margin-inside: 50%;
	text-align: center;
	color: #777;
}

#form_style{
	margin-top: 0px;
	padding-top: 350px;
	max-width: 1080px;
}

#umk_core_content {
	padding-top: 400px;
}

#umk_content_rating {
	padding-top: 0px;
}

#login_form{
	padding-top: 150px;
}

#profile_list{
	overflow-y: scroll;
	height: 300px;
	width: 200%;
	position: absolute;
}


