{% extends "base.html" %}{% load i18n crispy_forms_tags staticfiles%}

{% block content %}
    <div class="row" id="form_style">
        <div>
            <div class="page-header">
                <h3>{{ title_form }}</h3>
            </div>
            {% csrf_token %}

            {% if form.errors %}
                <div class="alert alert-danger">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <strong>{{ error|escape }}</strong><br />
                        {% endfor %}
                    {% endfor %}
                </div>
             {% for error in form.non_field_errors %}
                 <div class="alert alert-danger">
                     <strong>{{ error|escape }}</strong>
                 </div>
             {% endfor %}
            {% endif %}
            {% crispy form %}
        </div>
    </div>
{% endblock %}

{% block scripts_block %}
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-tab.js' %}">  </script>
{% endblock %}

