{% extends "base.html" %}{% load i18n crispy_forms_tags staticfiles%}

{% block content %}
    <div class="row">
        <div class="col-md-9 col-lg-12">
            <div class="page-header">
                <center>
                <h1>Генератор рабочих программ ТИУ!</h1>
                </center>
            </div>
            <div class="welcometext"><h4>Сервис "Генератор рабочих программ" разработан специально для преподавателей ТИУ.</h4>
                <li>Освобождает авторов от рутинных пересчетов соответствия плановой нагрузки по видам занятий и необходимости форматирования и оформления документа рабочей программы.</li>
                <li>Позволяет создавать рабочие программы в соответствии со структурой рабочей программы дисциплины (модуля) и практик, определенной действующей нормативной правовой базой.</li>
                {% if not user.is_authenticated %}
                Для работы с генератором необходимо <a href="{% url 'auth_login' %}">{% trans "Log in" %}</a>.
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


