{% extends "base.html" %}{% load i18n crispy_forms_tags staticfiles%}
{% block header_settings %}
<style>
    #umk_core_content {
        padding-top: 100px;
    }
    #panel {
        height: 100px;
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
    <div id="umk_core_content">
        {% if user.is_authenticated %}
            <div id="panel">
                <div class="col-sm-12">
                    <div class="page-header">
                        <center>
                        <h5>Комплект оценочных средств:</h5>
                        </center>
                    </div>
                </div>
            </div>
            <div id="list_actionstable">
                <ol>
                 <li><a href="{% url 'umk_edit_menu' umk_id %}">Назад</a></li>
                 {% if actions_list %}
                    {% for act in actions_list %}
                        <li><a href="{% url act.url umk_id %}">{{ act.name }}</a></li>
                    {% endfor %}
                {% else %}
                    <li>Извините, но действий для КОСов отсутствуют.</li>
                {% endif %}
                </ol>
            </div>
        {% endif %}
    </div>
{% endblock %}