{% extends "base.html" %}{% load i18n crispy_forms_tags staticfiles%}

{% block content %}
    <h3 style="margin-top: 100px;">Последние новости:</h3>
    <ul>
        <li><b>1 августа 2018:</b>. Первый выпуск.</li>
        <li><b>17 сентября 2018:</b> Добавлена функция копирования одной рабочей программы в другую. Исправлены мелкие ошибки.</li>
        <li><b>21 октября 2018:</b> Добавлена возможность генерирования аннотации вместе с рабочей программой. Добавлена функция отправки на подпись зав. кафедрой рабочей программы. Переделана форма заполнения рейтинговой системы.</li>
        <li><b>31 января 2019:</b> Добавлена возможность создания КОСов для рабочей программы. Появилась возможность фильтровать по "программе обучения" и "названию дисциплины" в списке рабочих программ.</li>
    </ul>
{% endblock %}